mirrors.example.com

root * /data/webroot
file_server

reverse_proxy /v2/* mirror-dockerhub:5000

route /gcr/* {
  uri strip_prefix /gcr
  rewrite * /v2{uri}
  reverse_proxy mirror-gcr:5000
}

route /goproxy/* {
  uri strip_prefix /goproxy
  reverse_proxy goproxy:5100
}

route /npm/* {
  uri strip_prefix /npm
  reverse_proxy npm-registry:4873
}

reverse_proxy /wss/* 192.168.0.1:37270